.responsive-img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.mgmt-img {
    width: auto;
    max-width: 100%;
    height: auto;
}

.contact-one {
    width: 50%;
    height: auto;
    float: left;
}

.contact-two {
    margin-left: 50%;
    height: auto;
}

.player-one {
    width: 50%;
    height: auto;
    float: left;
}

.player-two {
    margin-left: 50%;
    height: auto;
}

@media screen and (max-width: 736px) {

    .mobile-img {
        padding: 10px;
    }

}